@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Chantilly Heavy';
  src: url('/fonts/Chantilly-Heavy-Regular.woff2') format('woff2'),
       url('/fonts/Chantilly-Heavy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-chantilly {
  font-family: 'Chantilly Heavy', sans-serif;
}


html, body {

  margin: 0;
  background: white;
  color: #0000ff; /* Blue */
  font-family: 'Reddit Mono', monospace;
  height: 100%;
  overflow: hidden;
}
